<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">

<head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <style>
        .emptyMessage {
            font-weight: bold;
            color: red;
            font-size: 1.2em;
        }
        
        li {
            margin-bottom: 7px;
            font-size: 1.2em;
        }
        
        li>button {
            margin-left: 6px;
        }
        
        button>span {
            color: green;
        }
    </style>
</head>

<body ng-app>
    <div class="container">
        <h1>Shopping List Check Off</h1>
        <h6>NOTE TO GRADER: I guard against the case of a blank input, negative, and NaN by using ng-blur and defaulting to 1 since it doesn't make sense to have 0 of some item. If the user tries to click away or on the button, the logic is executed before
            some bad value is assigned. I also round decimals and guard against negatives if the user tries to type these with ng-change.
        </h6>
        <div class="row">

            <!-- To Buy List -->
            <div ng-controller="ToBuyController as toBuy" class="col-md-6">
                <h2>To Buy:</h2>
                <ul ng-repeat="item in toBuy.shoppingList">
                    <li>Buy {{ item.quantity }} {{ item.name }} <button ng-click="toBuy.updateShoppingLists($index)" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button>
                        <label for="shopItem">#:</label> <input class="shopItem" type="number" ng-model="item.quantity" ng-blur="toBuy.validateInput($index, item.quantity, 1); " ng-change="toBuy.validateInput($index, item.quantity, '');" [value]="item.quantity"
                            style="width: 75px;" required>
                    </li>
                </ul>
                <div ng-if="toBuy.shoppingList.length===0 " class="emptyMessage ">Everything is bought!</div>
            </div>

            <!-- Already Bought List -->
            <div ng-controller="AlreadyBoughtController as bought " class="col-md-6 ">
                <h2>Already Bought:</h2>
                <ul ng-repeat="item in bought.shoppingList ">
                    <li>Bought {{ item.quantity }} of {{ item.name }} for total price of {{ item.totalPrice | number : '2' | trippleDollars }}</li>
                </ul>
                <div ng-if="bought.shoppingList.length===0 " class="emptyMessage ">Nothing bought yet.</div>
            </div>
        </div>
    </div>

</body>

</html>